In [13]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [24]:

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [34]:
df = pd.read_csv("taxi+_zone_lookup.csv")

In [35]:
len(df)

265

In [33]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [36]:
schema = pd.io.sql.get_schema(df, name = "taxi_zone_lookup", con=engine)

In [37]:
print(schema)

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [25]:
df_iter = pd.read_csv("taxi+_zone_lookup.csv", iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [38]:
df.head(n=0).to_sql(name ="taxi_zone_lookup", con = engine, if_exists='replace')

0

In [39]:
%time df.to_sql(name ="taxi_zone_lookup", con = engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 73.6 ms

265

In [30]:
while True:
    t_start = time()
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name ="green_tripdata_2019", con = engine, if_exists='append')
    t_end = time()
    print('another line inserted, toko %.3f seconds' %(t_start-t_end))

another line inserted, toko -10.999 seconds
another line inserted, toko -11.688 seconds
another line inserted, toko -11.240 seconds
another line inserted, toko -12.616 seconds
another line inserted, toko -11.741 seconds
another line inserted, toko -3.601 seconds

StopIteration: