In [18]:
import pandas as pd
import argparse

usage: ipykernel_launcher.py [-h] [--user USER] [--password PASSWORD]
                             [--host HOST] [--port PORT] [--db DB]
                             [--table_name TABLE_NAME] [--url URL]
ipykernel_launcher.py: error: unrecognized arguments: -f C:\Users\MLORDJAMES\AppData\Roaming\jupyter\runtime\kernel-88065647-6a6b-4e1c-ac35-dabfcccebf05.json

SystemExit: 2

C:\Users\MLORDJAMES\AppData\Local\Programs\Python\Python311\Lib\site-packages\IPython\core\interactiveshell.py:3450: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [16]:
df = pd.read_parquet("yellow_tripdata_2022-01.parquet", engine='fastparquet')

In [17]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.50,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.00,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.50,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.00,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.50,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2463926,2,2022-01-31 23:36:53,2022-01-31 23:42:51,NaN,1.32,NaN,None,90,170,0,8.00,0.0,0.5,2.39,0.0,0.3,13.69,NaN,NaN
2463927,2,2022-01-31 23:44:22,2022-01-31 23:55:01,NaN,4.19,NaN,None,107,75,0,16.80,0.0,0.5,4.35,0.0,0.3,24.45,NaN,NaN
2463928,2,2022-01-31 23:39:00,2022-01-31 23:50:00,NaN,2.10,NaN,None,113,246,0,11.22,0.0,0.5,2.00,0.0,0.3,16.52,NaN,NaN
2463929,2,2022-01-31 23:36:42,2022-01-31 23:48:45,NaN,2.92,NaN,None,148,164,0,12.40,0.0,0.5,0.00,0.0,0.3,15.70,NaN,NaN
2463930,2,2022-01-31 23:46:00,2022-02-01 00:13:00,NaN,8.94,NaN,None,186,181,0,25.48,0.0,0.5,6.28,0.0,0.3,35.06,NaN,NaN

In [27]:
df = pd.read_csv("yellow_tripdata_test.csv")
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
from sqlalchemy import create_engine

In [32]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
#engine.connect()

In [39]:
schema = pd.io.sql.get_schema(df, name = "yellow_tripdata_2022", con=engine)

In [40]:
print(schema)

CREATE TABLE yellow_tripdata_2022 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [8]:
df_iter = pd.read_csv("yellow_tripdata_2022-01.csv", iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [44]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
df.columns = [c.lower() for c in df.columns]

In [15]:
df.head(n=1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
100000,2,2022-01-02 17:01:46,2022-01-02 17:01:51,2.0,0.0,1.0,N,132,132,2,2.5,0.0,0.5,0.0,0.0,0.3,3.3,0.0,0.0

In [45]:
df.head(n=0).to_sql(name ="yellow_tripdata_2022", con = engine, if_exists='replace')

0

In [46]:
%time df.to_sql(name ="yellow_tripdata_2022", con = engine, if_exists='append')

CPU times: total: 5.12 s
Wall time: 11.9 s

1000

In [47]:
from time import time

In [48]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name ="yellow_tripdata_2022", con = engine, if_exists='append')
    t_end = time()
    print('another line inserted, toko %.3f seconds' %(t_start-t_end))

another line inserted, toko -10.605 seconds
another line inserted, toko -10.498 seconds
another line inserted, toko -10.683 seconds
another line inserted, toko -11.506 seconds
another line inserted, toko -11.524 seconds
another line inserted, toko -10.655 seconds
another line inserted, toko -9.865 seconds
another line inserted, toko -10.107 seconds
another line inserted, toko -10.897 seconds
another line inserted, toko -10.831 seconds
another line inserted, toko -10.224 seconds
another line inserted, toko -10.096 seconds
another line inserted, toko -10.246 seconds
another line inserted, toko -10.399 seconds
another line inserted, toko -9.752 seconds
another line inserted, toko -11.937 seconds
another line inserted, toko -9.909 seconds
another line inserted, toko -11.406 seconds
another line inserted, toko -10.467 seconds
another line inserted, toko -11.865 seconds
another line inserted, toko -13.562 seconds
another line inserted, toko -10.610 seconds

C:\Users\MLORDJAMES\AppData\Local\Temp\ipykernel_25784\846401584.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

another line inserted, toko -11.596 seconds
another line inserted, toko -6.785 seconds

StopIteration: